.expense{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75vw;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expensecard{
  height: 95%;
  width: 95%;
  background-color: white;
  border-radius: 30px;
}

.expenseOverview{
  width: 65%;
  padding: 5rem;
}

.expenseHeader{
  display: flex;
  justify-content: space-between;
}

.expenseTitle{
  font-size: 40px;
  font-weight: 600;
}

.expenseActions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.person1{
  position: relative;
  left: -73%;
  z-index: 3;
}


.person2{
  position: relative;
  left: -83%;
  z-index: 2;
}


.person3{
  position: relative;
  left: -93%;
  z-index: 1;
}

.addIcon{
  cursor: pointer;
  margin-left: -6rem;
}

.expenseDaterange{
  opacity: 0.5;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.expensesOverviewHeader{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:1rem;
  border-bottom: 0.5px solid #dedede;
}

.expenseOverViewTitle{
  font-size: 18px;
  font-weight: 600;
}

.expenseItem{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.expenseItemLeft{
  display: flex;
  align-items: center;
}

.expenseItemImage{
  width: 48px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expenseItemDetails{
  margin-left: 1rem;
}

.expenseItemTitle{
  font-weight: 500;
  margin-bottom: .5rem;
}


.expenseItemTime{
  opacity: 0.5;
}


.expenseItemRight{
  font-weight: 600;
}
